server{
  listen 80 default_server;
  root /var/www/html;

  location /metrics {
      proxy_pass http://localhost:9100/metrics;
  }

  {% if inventory_hostname == 'monitoring' %}
  location /prometheus {
      proxy_pass http://localhost:9090;
  }
  {% endif %}

  {% if inventory_hostname == 'monitoring' %}
  location /grafana {
      proxy_pass http://localhost:3000;
  }
  {% endif %}

}
